body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

}
.card{
    height: 50vh;
    text-align: center;
    border-radius :  50px;
    flex:1;
    /* position:relative; */

 transition: all 400ms ease-in
}
.card h3{
    color:white;
    transition:0.7s;
    /* margin-bottom: 100em; */
    
}
.cards{
    width: 50vw;
    display:flex;
}

.active{
    flex:5;

}
.card.active h3{
    /* margin-top: 65%; */
    transition:  0.3s ease-in 0.4s
}